/.idea/
/.ipynb_checkpoints/
/data/audio/
/data/.ipynb_checkpoints/
/data/creation/.ipynb_checkpoints
/data/creation/features.csv
/data/creation/audio_data.csv
/venv/

__pycache__/utils.cpython-39.pyc

data/creation/melspectrogram_features.csv

*.pkl

data/creation/100648-1-0-0.wav

FC/
